.sidebar {
  padding: 10px 20px;
}

.sidebar_title {
  text-align: center;
  font-weight: bold;
  color: #34495e;
}

.sidebar_menu__item {
  display: block;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.sidebar_menu__item_active {
  background: #1abc9c;
}

.sidebar_menu__item_active > a {
  display: block;
  color: #fff !important;
}

.sidebar_button__logout {
  width: 92%;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
